*{
    padding: 0;
    margin: 0;
}

.todo{
    height: 200vh;
    background-image: linear-gradient(to left, rgb(195, 0, 255),black, rgb(195, 0, 255));
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1.5fr 15fr 1fr;
}
/* ---------------- HEADER ----------------- */ 
header{
    background-color: rgb(195, 0, 255);
    grid-area: header;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 0px 20px 2px black;
}
h1{
    padding: 10px 0px 10px 0px;
    text-align: center;
    color:black;
    background-color: rgb(195, 0, 255);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 0, 255);
}
nav ul{
    height: 100%;
    list-style-type: none;
    text-align: center;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li{
    width: 190px;
    height: 30px;
    padding: 7px;
    border: 3px solid black;
}
nav ul li:hover{
    background-color: rgb(248, 117, 237);
}
nav ul li:active{
    background-color: rgb(255, 0, 234);
}
header nav ul li a{
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: inline-block;
}
/* ---------------------- MAIN INDEX -------------------- */ 
.main__index{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* ----------------- repetitiva --------------- */ 
.seccion__repetitiva{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo_pagina{
    color: rgb(195, 0, 255);
    margin-bottom: 15px;
}
.imagen-repetitiva{
    width: 50%;  
    transition: transform ease 2s;
}
.imagen-repetitiva:hover{
    transform: scale(1.5) rotate(180deg);
}
/* ----------------- secciones index --------------- */ 
.seccion-index{
    width: 50%;
    display: flex;
    align-items: center;
    min-height: 250px;
    transition: transform ease 0.2s;
}
.seccion-index:hover{
    transform: scaleY(1.3); ;
    box-shadow: 0px 0px 50px 5px rgb(195, 0, 255);
}
.articles__ofertaNosotros-index{
    height: 100%;
    width: 50%;
    background-color: rgb(195, 0, 255);
}
.div__imagenes{
    width: 50%;
    height: 100%;
}

.imagen__seccion-index{
    width: 100%;
    height: 100%;
}
.seccion__contacto{
    background-color: rgb(195, 0, 255) ;
    margin-bottom: 50px;
}
/* ----NOSOTROS---- */
.main__nosotros{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.seccion__nosotros{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}
.article__nosotros{
    background-color: rgb(195, 0, 255);
    width: 50%;
    box-shadow: 0px 0px 50px 5px rgb(195, 0, 255);
}
.contenedor__avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation:balance 1s linear alternate infinite;
}
@keyframes balance{
    from{ transform:translateX(-150px) }
     to{ transform:translateX(150px)}
}
#avatar{
    border: 5px solid rgb(195, 0, 255);
    width: 200px;
    height: 200px;
}
#avatar__director{
    color: rgb(195, 0, 255);
}

/* ----OFERTA---- */
.main__oferta{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
table,caption,tr,th,td{
    background-color: rgb(195, 0, 255);
    border: 5px double black;
    padding: 10px;
    text-align: center;
}
/* ----GALERIA---- */
.main__galeria{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.seccion__galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imagenes_galeria{
    width: 300px;
    height: 150px;
    border: 5px double rgb(195, 0, 255);
}
#video_galeria{
    border: 5px double rgb(195, 0, 255);
    width: 300px;
    height: 150px;
}
/* ----CONTACTO---- */
.main__contacto{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#leyenda__formulario{
    color: rgb(0, 255, 34);
}
form{
    background-color: rgb(195, 0, 255);
    padding: 30px;
    border: 5px solid rgb(0, 255, 34);
}


footer{
    background-color: rgb(195, 0, 255);
    margin: 0;
    padding: 0;
    bottom: 0;

    text-align: center;
    font-size: 30px;
    grid-area: footer;
    box-shadow: 0px -5px 10px 1px black;
}
/* ---------------------- mobile -------------------- */ 
@media screen and (max-width: 320px){
    h1{
        font-size: 20px;
    }
    body div header nav ul{
        flex-wrap: wrap;
    }
    body div header nav ul li{
        width: 95px;
        height: 10px;
        padding: 2px;
    }
    body div header nav ul li a{
        font-size: 10px;
    }
    .seccion-index{
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .articles__ofertaNosotros-index{
        width: 100%;
    }
    .div__imagenes{
        width: 100%;
    }
    @keyframes balance{
        from{ transform:translateX(-50px) }
         to{ transform:translateX(50px)}
    }
    .seccion__table{
        width: 80%;
    }
    table,caption,tr,th,td{
        padding: 0;
    }
    .article__nosotros{
        width: 100%;
    }
}
/* ---------------------- tablet -------------------- */ 
@media only screen and (min-width: 321px) and (max-width: 767px){
    h1{
        font-size: 25px;
    }
    body div header nav ul{
        flex-wrap: wrap;
    }
    body div header nav ul li{
        width: 95px;
        height: 15px;
        padding: 4px;
    }
    body div header nav ul li a{
        font-size: 15px;
    }
    .seccion-index{
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .articles__ofertaNosotros-index{
        width: 100%;
    }
    .div__imagenes{
        width: 100%;
    }
    .seccion__table{
        width: 80%;
    }
    table,caption,tr,th,td{
        padding: 0;
    }
    .article__nosotros{
        width: 100%;
    }
}