*{
    padding: 0;
    margin: 0;
}

.todo{
    height: 200vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1.5fr 15fr 1fr;
    background-color: black;
}
/* ---------------- HEADER ----------------- */ 
header{
    background-color: rgb(195, 0, 255);
    grid-area: header;

}
.color-nav{
    background-color: rgb(195, 0, 255);
}
/* ---------------------- MAIN INDEX -------------------- */ 
.main__index{
    /* background-color: black; */
    background-image: linear-gradient(to left, rgb(195, 0, 255),black, rgb(195, 0, 255));
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* ----------------- repetitiva --------------- */ 
.seccion__repetitiva{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo_pagina{
    color: rgb(195, 0, 255);
}
.imagen-repetitiva{
    width: 50%;
    transition: transform ease 2s;
}
.imagen-repetitiva:hover{
    transform: scale(1.5) rotate(180deg);
}
/* ----------------- secciones index --------------- */ 
.seccion-index{
    width: 50%;
    display: flex;
    align-items: center;
}
.articles__ofertaNosotros-index{
    height: 100%;
    width: 50%;
    background-color: rgb(195, 0, 255);
}

.div__imagenes{
    width: 50%;
}

.imagen__seccion-index{
    width: 100%;
    height: 100%;
}
.seccion__contacto{
    background-color: rgb(195, 0, 255) ;
    margin-bottom: 50px;
}
.card-estilos{
    background-color: rgb(195, 0, 255);
}

/* ----NOSOTROS---- */
.main__nosotros{
    background-color: black;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.seccion__nosotros{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}
.article__nosotros{
    background-color: rgb(195, 0, 255);
    width: 50%;
    margin-bottom: 10px;
}
.contenedor__avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#avatar{
    border: 5px solid rgb(195, 0, 255);
    width: 200px;
    height: 200px;
}
#avatar__director{
    color: rgb(195, 0, 255);
}

/* ----OFERTA---- */
.main__oferta{
    background-color: black;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
table,caption,tr,th,td{
    background-color: rgb(195, 0, 255);
    border: 5px double black;
    padding: 10px;
    text-align: center;
    color: black;
}
/* ----GALERIA---- */
.main__galeria{
    background-color: black;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.seccion__galeria{
    display: flex;
    flex-wrap: wrap;
}
.imagenes_galeria{
    width: 300px;
    height: 150px;
    border: 5px double rgb(195, 0, 255);
}
#video_galeria{
    border: 5px double rgb(195, 0, 255);
    width: 300px;
    height: 150px;
}
/* ----CONTACTO---- */
.main__contacto{
    background-color: black;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#leyenda__formulario{
    color: rgb(0, 255, 34);
}
form{
    background-color: rgb(195, 0, 255);
    padding: 30px;
    border: 5px solid rgb(0, 255, 34);
}
.enviar{
    background: rgb(195, 0, 255);
}


footer{
    background-color: rgb(195, 0, 255);
    margin: 0;
    padding: 0;
    bottom: 0;

    text-align: center;
    font-size: 30px;
    grid-area: footer;
}
/* ---------------------- mobile -------------------- */ 
@media screen and (max-width: 320px){
/*     h1{
        font-size: 20px;
    }
    body div header nav ul{
        flex-wrap: wrap;
    }
    body div header nav ul li{
        width: 95px;
    }
    body div header nav ul li a{
        font-size: 10px;
    } */
    .seccion-index{
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .articles__ofertaNosotros-index{
        width: 100%;
    }
    .div__imagenes{
        width: 100%;
    }
    .seccion__table{
        width: 80%;
    }
    table,caption,tr,th,td{
        padding: 0;
    }
    .article__nosotros{
        width: 100%;
    }
}
/* ---------------------- tablet -------------------- */ 
@media only screen and (min-width: 321px) and (max-width: 767px){
/*     h1{
        font-size: 25px;
    }
    body div header nav ul{
        flex-wrap: wrap;
    }
    body div header nav ul li{
        width: 95px
    }
    body div header nav ul li a{
        font-size: 15px;
    } */
    .seccion-index{
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .articles__ofertaNosotros-index{
        width: 100%;
    }
    .div__imagenes{
        width: 100%;
    }
    .seccion__table{
        width: 80%;
    }
    table,caption,tr,th,td{
        padding: 0;
    }
    .article__nosotros{
        width: 100%;
    }
}